*{
    margin:0px;
    padding:0px;
}
header{
    background-color: rgb(75, 5, 92);
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    /* height: 15%; */
    height: 90px;
    padding-top: 10px;
    /* display:flex; */
    
}

.heading{
    display:flex;
   padding-left: 40px;
    gap: 60px;
    margin-bottom: 15px;
    
    
}
.heading img {
    margin-right: 400px; 
}
.heading h1{
    margin-right: 300px;
}
.heading h2{
    margin-right: 50px;
}
nav ul {
    list-style: none; 
    display: flex;
    /* justify-content: center; */
    
}
nav ul li {
    /* border: 2px solid black; */
    /* margin-right: 50px;  */
    margin-left: 90px;
    /* background-color: rgb(218, 211, 224); */
    color: rgb(235, 223, 223);
    padding: 3px;
    text-align:center;
    justify-content: center;
    /* border-radius: 10px; */
}
nav ul li a {
text-decoration: none;
color: beige;
}
.Mental_health_section_1 {
    display: flex;
    /* border: solid red; */
    height: 180px;
    width: 100%;
    /* margin-top: 10px; */
    background-color: rgb(196, 156, 233);
    align-items: center;
}
.Mental_health_section_1 .Mental_health_image {
    /* border: 1px solid black; */
    width: 15%;
    height: 100px;
    margin-left: 90px;
    
}
.Mental_health_image img{
    width: 100%;
    height: 100px;
    /* margin-left: 90px; */
    margin-top: 10px;
}
.Mental_health_content {
    /* border: 1px solid green; */
    margin-left: 20px;
    padding: 4px;
    margin-top: 10px;
}
.Mental_health_content h2{
    margin-bottom: 4px;
}
.main_symptoms{
    border: 1px solid rgb(160, 71, 187);
    height: 280px;
    background-color: rgb(160, 71, 187);
}
.container{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    grid-gap: 6rem;
    margin: 80px 100px 0px 90px;
}
.items{
    padding: 2px;
    text-align: center;
    color: black;
    background-color: rgb(232, 240, 130);
    font-weight: bold;
   
}
footer{
    height: 30px;
    background-color: rgb(26, 24, 24);
    color: beige;
    text-align: center;
   padding: 5px;

}